.container{
    min-width: 100%;
}
.header{
    display: flex;
    align-items: center;
    .title{
        margin-left: 20px;
    }
}

@media (min-width:480px) {
    .btn-primary{
        margin:15px 0;
    }
}