<div class="container p-4">
  <img src="./../assets/images/logo_pagos360.svg" alt="PAGOS360" class="py-2">

  <form class="form-inline">
    <label  class="col-sm-2 col-form-label">Fecha</label>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
<!--   
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
    </div> -->
    <button type="submit" class="btn btn-primary mb-2">Buscar</button>
  </form>

  <div *ngFor="let data of this.dataCobranzas">
    <p>{{data.informed_date}}</p>
    <p>{{data.request_id}}</p>
    <p>{{data.external_reference}}</p>
    <p>{{data.payer_name}}</p>
    <p>{{data.description}}</p>
    <p>{{data.payment_date}}</p>
    <p>{{data.channel}}</p>
    <p>{{data.amount_paid}}</p>
    <p>{{data.net_fee}}</p>
    <p>{{data.iva_fee}}</p>
    <p>{{data.net_amount}}</p>
    <p>{{data.available_at}}</p>
  </div>
  
  
</div>
  